@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600&family=Russo+One&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Russo One', sans-serif;
}

.wrapper {

}

.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    background-color: #222222;
    padding-bottom: 72px;
    
    &__wrrap {
        display: flex;
        width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    // .header__container

    &__container {

    }

    // .header__block--logo

    &__block--logo {
        display: flex;
    }
           &__block--logo a img {
            padding-top: 18px;
            margin-right: 24px;
            margin-bottom: 33px;
           }

    // .header__tagline

    &__tagline {
        width: 189px;
        height: 33px;
        padding-left: 21px;
        margin-top: 62px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 18px;
        color: #2194FF;
        border-left: 1px solid #fff;

    }

    // .header__content

    &__content {
        position: relative;
        z-index: 1;
    }
         &__content h1 {
            font-family: 'Russo One', sans-serif;
            font-weight: 400;
            font-size: 64px;
            line-height: 63px;
            color: #2194FF;
            margin-bottom: 14px;
         }

    // .header__box

    &__box {
        display: flex;
        margin-bottom: 12px;
    }

    // .header__delivery

    &__delivery {
        margin-right: 34px;
    }

    // .header__day

    &__day {
        display: flex;
        column-gap: 8px;
        vertical-align: middle;
    }

    // .header__day--title

    &__day--title {
        padding-top: 7px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 21.79px;
        color: #F1F1F1;
        opacity: 0.6;
    }
                &__day--title1 {
                    width: 201px;
                    padding-top: 7px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 21.79px;
                    color: #F1F1F1;
                    opacity: 0.6;
                }
        &__day--title2 {
            width: 293px;
            padding-top: 7px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 21.79px;
            color: #F1F1F1;
            opacity: 0.6;
        }
    // .header__weather

    &__weather {
        display: flex;
        column-gap: 8px;
        vertical-align: middle;
        height: 25px;
    }

    &__arrow {
        width: 16px;
    }
    // .header__title--1

    &__title--1 {
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 28.92px;
        color: #F1F1F1;
    }

    &__city{
        display: flex;
    }
    // .header__btn

    &__btn {
        margin-bottom: 13px;
        width: 395px;
        height: 87px;
        background-image: url('../img/btn.svg');
        border-radius: 11px;
        text-align: center;
        padding-top: 15.84px;
    }
                &__btn a {
                    font-family: 'Russo One', sans-serif;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 26.51px;
                    color: #F1F1F1;
                    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
                }

    // .header__title--2

    &__title--2 {
        margin-left: 19px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 21.79px;
        color: #F1F1F1;
    }

    // .header__contacts

    &__contacts {}
        &__contacts div {
            display: flex;
            flex-direction: column;
        }
                &__contacts img {
                    width: 1037px;
                    height: 477px;
                    position: relative;
                    left: -109px;
                }

    // .header__phone

    &__phone {
        margin-top: 24px;
        margin-left: 265px;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 28.92px;
        color: #F1F1F1;
    }

    // .header__question

    &__question {
        margin-left: 265px;
        margin-bottom: 32px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
        color: #2194FF;
        text-decoration: underline;
    }
}

.price {
    padding-top: 46px;
    background-color: #2D2D2D;

    // .price__title

    &__title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 43.38px;
    color: #2194FF;
    margin-bottom: 49px;
    }

    // .price__content

    &__content {
        display: flex;
        justify-content: space-between;
    }

    // .price__box1

    &__box1 {
        
    }
        &__box1 p {
            width: 259px;
        }

    &__general h3 {
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.38px;
        color: #F1F1F1;
    }
         &__general div {
            margin-bottom: 21px;
             font-family: 'Russo One', sans-serif;
             font-weight: 400;
             font-size: 24px;
             line-height: 28.92px;
             color: #2194FF;
         }
    &__general p {
        margin-bottom: 28px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 21.79px;
        color: #F1F1F1;
        opacity: 0.7;
    }
    // .price__button

    &__button {
        
        background-color: #2194FF;
        display: inline-block;
        padding: 8px 35px 10px 33px;
        border-radius: 50px;
        
    }
                &__button a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 24.51px;
                color: #F1F1F1;
                }
    &__button--left {
        margin-top: 19px;
    }
    // .price__box2

    &__box2 {}
         &__box2 img {
            padding-bottom: 44px;
         }

    // .price__ratio

    &__ratio {
        margin-bottom: 17px;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.1px;
        color: #F1F1F1;
        opacity: 0.7;
    }

    // .price__proportion

    &__proportion {
        display: flex;
        justify-content: center;
        padding-bottom: 17px;
    }

    // .price__propane

    &__interest {
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.38px;
        color: rgba(241, 241, 241, 0.7);
        text-align: center;
    }
        &__text {

            font-family: 'Russo One', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 2px;
            color: rgba(241, 241, 241, 0.7);
            text-align: left; 
        }

    // .price__butane
    &__propane {
        padding-right: 25px;
        border-right: 1px solid rgba(241, 241, 241, 0.3);
    }
    &__butane {
        padding-left: 25px;
    }

    // .price__box3

    &__box3 {
        margin-left: 16px;
    }
          &__box3 p {
              width: 253px;
          }

        // .price__arrows
    
        &__arrows {
            position: relative;
            top: 12px;
            margin-left: 482px;
            width: 100px;
            height: 50px;
            transform: rotate(225deg);
        }
    
        // .price__arrow1
    
        &__arrow1 {
            width: 34px;
            height: 34px;
            border-left: 1px solid #2194FF;
            border-top: 1px solid #2194FF;
        }
    
        // .price__arrow2
    
        &__arrow2 {
            width: 50px;
            height: 50px;
            border-left: 1px solid #2194FF;
            border-top: 1px solid #2194FF;
            padding-left: 13px;
            padding-top: 13px;
        }
    
        // .price__arrow3
    
        &__arrow3 {
            width: 70px;
            height: 70px;
            border-left: 1px solid #2194FF;
            border-top: 1px solid #2194FF;
            padding-left: 13px;
            padding-top: 13px;
        }
}

.company {
    background-color: #222222;
    // .company__title

    &__title {
        padding-top: 57px;
        padding-bottom: 25px;
        text-align: center;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.38px;
        color: #F1F1F1;
    }

    // .company__cards

    &__cards {
        // width: 1082px;
        // height: 758px;
        display: flex;
        justify-content: space-between;
        
    }

    // .company__column1

    &__column1 {
        // width: 380px;
        // height: 717px;
        display: flex;
        flex-direction: column;
    }

    // .company__card

    &__card {
        width: 343px;
        height: 195px;
    }
        &__card img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 14px;
        }
         &__card h4 {
            padding-bottom: 14px;
            font-family: 'Russo One', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 28.92px;
            text-align: center;
            color: #2194FF;
         }
                        &__card p {
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 21.79px;
                            text-align: center;
                            color: #F1F1F1;
                            opacity: 0.7;
                        }

    // .company__column2
    &__baloon {
        padding-top: 26px;
    }

    &__50m {
        padding-top: 161px;
    }
    &__payment {
        padding-top: 41px;
    }
    &__column2 {
        margin-top: 66px;   
    }
    &__timer {
        padding-top: 98px;
    }

    &__drop {
        padding-top: 62px;
    }

    &__sert {
        padding-top: 156px;
    }

    // .company__column3

    &__column3 {}

    // .company__footer

    &__footer {
        display: flex;
        margin-top: 184px;
    }

    // .company__track

    &__track {}

    // .company__text

    &__text {
        position: relative;
        right: 50px;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 42.18px;
        color: #F1F1F1;
    }
        &__text p span {
            color: #2194FF;
        }
                &__text div {
                    margin-top: 20px;
                    width: 533px;
                    padding: 7px 13px 9px 12px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 19.07px;
                    background-color: #2194FF;
                }

    &__footer {}

    &__track {}

    &__text {}
}

.capacity {
    background-color: #2C3237;
    // .capacity__box
    &__title {
        padding-top: 34px;
        padding-bottom: 35px;
        text-align: center;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.38px;
        color: #2194FF;
    }

    &__box {}

    // .capacity__block--button

    &__block--button {
        padding-bottom: 37px;
        display: flex;
        justify-content: center;
        column-gap: 24px;
    }

    // .capacity__tablink

    &__tablink {
        width: 164px;
        height: 64px;
        background: rgba(241, 241, 241, 0.2);
        border-radius: 20px;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.69px;
        color: #F1F1F1;
        opacity: 0.7;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    }

        &__tablink.active {
            background-color: #2194FF;
            color: #F1F1F1;
            opacity: 1;

        }

    // .capacity__block--content

    &__block--content {
        text-align: center;
    }
                &__block--content img {
                    display: inline-block;
                }

    // .capacity__tabcontent

    &__tabcontent.active {
        display: block;
    }
    &__tabcontent {
        display: none;
        
    }

    // .capacity__btn

    &__btn {
        
        display: inline-block;
        margin-bottom: 47px;
        padding-top: 29px;
        width: 294px;
        height: 87px;
        background-image: url('../img/btn_bg-2.png');
        background-repeat: no-repeat;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 28.92px;
        color: #2C3237;
    }
                &__btn a {
                    

                }
}

