@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600&family=Russo+One&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Russo One", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  background-color: #222222;
  padding-bottom: 72px;
}
.header__wrrap {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header__block--logo {
  display: flex;
}
.header__block--logo a img {
  padding-top: 18px;
  margin-right: 24px;
  margin-bottom: 33px;
}
.header__tagline {
  width: 189px;
  height: 33px;
  padding-left: 21px;
  margin-top: 62px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  color: #2194FF;
  border-left: 1px solid #fff;
}
.header__content {
  position: relative;
  z-index: 1;
}
.header__content h1 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 63px;
  color: #2194FF;
  margin-bottom: 14px;
}
.header__box {
  display: flex;
  margin-bottom: 12px;
}
.header__delivery {
  margin-right: 34px;
}
.header__day {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  vertical-align: middle;
}
.header__day--title {
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
  color: #F1F1F1;
  opacity: 0.6;
}
.header__day--title1 {
  width: 201px;
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
  color: #F1F1F1;
  opacity: 0.6;
}
.header__day--title2 {
  width: 293px;
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
  color: #F1F1F1;
  opacity: 0.6;
}
.header__weather {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  vertical-align: middle;
  height: 25px;
}
.header__arrow {
  width: 16px;
}
.header__title--1 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.92px;
  color: #F1F1F1;
}
.header__city {
  display: flex;
}
.header__btn {
  margin-bottom: 13px;
  width: 395px;
  height: 87px;
  background-image: url("../img/btn.svg");
  border-radius: 11px;
  text-align: center;
  padding-top: 15.84px;
}
.header__btn a {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.51px;
  color: #F1F1F1;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.header__title--2 {
  margin-left: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #F1F1F1;
}
.header__contacts div {
  display: flex;
  flex-direction: column;
}
.header__contacts img {
  width: 1037px;
  height: 477px;
  position: relative;
  left: -109px;
}
.header__phone {
  margin-top: 24px;
  margin-left: 265px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.92px;
  color: #F1F1F1;
}
.header__question {
  margin-left: 265px;
  margin-bottom: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  color: #2194FF;
  text-decoration: underline;
}

.price {
  padding-top: 46px;
  background-color: #2D2D2D;
}
.price__title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  line-height: 43.38px;
  color: #2194FF;
  margin-bottom: 49px;
}
.price__content {
  display: flex;
}
.price__general h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.38px;
  color: #F1F1F1;
}
.price__general div {
  margin-bottom: 21px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.92px;
  color: #2194FF;
}
.price__general p {
  margin-bottom: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
  color: #F1F1F1;
  opacity: 0.6;
}
.price__button {
  background-color: #2194FF;
  display: inline-block;
  padding: 8px 35px 10px 33px;
  border-radius: 50px;
}
.price__button a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: #F1F1F1;
}
.price__ratio {
  margin-bottom: 17px;
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.1px;
  color: #F1F1F1;
}
.price__proportion {
  display: flex;
  justify-content: center;
}
.price__propane {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.38px;
  color: rgba(241, 241, 241, 0.7);
  text-align: center;
}
.price__propane span {
  margin-top: -15px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.69px;
  color: rgba(241, 241, 241, 0.7);
  text-align: center;
}/*# sourceMappingURL=style.css.map */